<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Vehicle List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0" />
    <link href="/grid.css" rel="stylesheet" type="text/css">
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>

    <main id="app">
        <div class="row">

            <div class="small-12 medium-6 large-12 columns">

                <div class="card card-reveal-wrapper">
                    <img src="http://placehold.it/568x150">
                    <div class="card-section">
                        <i class="fa fa-angle-up open-button"><span class="show-for-sr">More</span></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga et voluptas, praesentium temporibus est? Recusandae blanditiis eaque ea quam omnis, expedita amet, et eius ipsum quod ipsa, veritatis doloribus enim.</p>
                        <div class="card-reveal">
      <span class="card-reveal-title">
        <h4>Card Title</h4>
        <i class="fa fa-angle-down close-button"><span class="show-for-sr">Close</span></i>
      </span>
                            <p>Here is some more information. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                        </div> <!-- /.card-reveal -->
                    </div> <!-- /.card-section -->
                </div> <!-- /.card -->






            </div>

            <div class="small-12 medium-6 large-12 columns">

                <div class="card-user-profile">
                    <img class="card-user-profile-img" src="https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb" alt="picture of space" />
                    <div class="card-user-profile-content card-section">
                        <div class="card-user-profile-avatar">
                            <img src="https://pbs.twimg.com/profile_images/422887689612820482/sZtHMJu5.png" alt="picture of yeti" />
                        </div>
                        <p class="card-user-profile-name">Abominable Snowman</p>
                        <p class="card-user-profile-status">Yeti Web Designer</p>
                        <p class="card-user-profile-info">The Yeti, once better known as the Abominable Snowman, is a mysterious bipedal creature said to live in the mountains of Asia. It sometimes leaves tracks in snow, but is also said to dwell below the Himalayan snow line.</p>
                    </div>

                    <div class="card-user-profile-actions">
                        <a href="#" class="card-user-profile-button button hollow">Follow</a>
                        <a href="#" class="card-user-profile-button button hollow secondary">More Info</a>
                    </div>
                </div>




            </div>


        </div>
    </main>

<script src="/app.js"></script>
</body>
</html>
