<article class="small-12 medium-6 large-3 columns vehicle-card">

    <div class="vehicle-card--front">
        <img class="vehicle-card__img" src="https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb" alt="" />
        <div class="vehicle-card__content">
            <header class="vehicle-card__name">Vehicle Name</header>
            <p class="vehicle-card__price">From &pound;76,350</p>
            <p class="vehicle-card__description">The most advanced, efficient and refined sports saloon that Jaguar has ever produced.</p>
        </div>
    </div>

    <div class="vehicle-card--back">
        <p class="vehicle-card__styles">
            <ul>

            </ul>
        </p>

        <p class="vehicle-card__drive-train">
            <ul>

            </ul>
        </p>

        <p class="vehicle-card__emissions">

        </p>

        <p class="vehicle-card__passengers">

        </p>
    </div>

</article>
